services:
  engine:
    build:
      context: ./services/engine
      dockerfile: Dockerfile
    environment:
      - ENGINE_PORT=50051
    ports:
      - "50051:50051"

  gateway:
    build:
      context: ./services/gateway
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - engine
    environment:
      - ENGINE_GRPC_HOST=engine
      - ENGINE_GRPC_PORT=50051
  web:
    build:
      context: ./services/web
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - gateway
    environment:
      - NEXT_PUBLIC_API_URL=http://gateway:8000
#      - NEXT_TELEMETRY_DISABLED=1
